extends layout

block content
  div(class='container')
    h1 Welcome, enter a headcount
    form(action='headcount', method='post')
      div(class='form-group')
        label(for='howMany') How many people?
        input(type='number', class='form-control', id='howManyInput', name='howMany', placeholder='How Many', autofocus)
      div(class='form-group')
        label(for='when') When was the count taken?
        div(class='input-group date', id='datetimePickerWhen')
          input(type='text', class='form-control')
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
      input(type='submit', value='Submit', class='btn btn-primary')
    h3 Recent Headcounts
    table(class='table table-striped', ng-controller='recentHeadcount')
      thead
        tr
          th Date / Time
          th Count
      tbody
        tr(ng-repeat='headcount in headcounts')
          td {{headcount.ts | date:'short'}}
          td {{headcount.how_many}}
