doctype html
html(ng-app='headcountApp')
  head
    title Headcount Tracker
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/vendor/nprogress/nprogress.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/vendor/moment/min/moment.min.js')
    script(src='/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='/vendor/d3/d3.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js')
    script(src='/vendor/nprogress/nprogress.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/charts.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services.js')
  body(lang='en')
    block content