<h1>Charts</h1>
<hr>
<div class='btn-group'>
  <button class='btn btn-default' ng-click="whichDay = 0" ng-class="{active: whichDay == 0}">Sun</button>
  <button class='btn btn-default' ng-click="whichDay = 1" ng-class="{active: whichDay == 1}">Mon</button>
  <button class='btn btn-default' ng-click="whichDay = 2" ng-class="{active: whichDay == 2}">Tue</button>
  <button class='btn btn-default' ng-click="whichDay = 3" ng-class="{active: whichDay == 3}">Wed</button>
  <button class='btn btn-default' ng-click="whichDay = 4" ng-class="{active: whichDay == 4}">Thr</button>
  <button class='btn btn-default' ng-click="whichDay = 5" ng-class="{active: whichDay == 5}">Fri</button>
  <button class='btn btn-default' ng-click="whichDay = 6" ng-class="{active: whichDay == 6}">Sat</button>
</div>
<div id='daily-graph'>
</div>
