<h1>Welcome, enter a headcount</h1>
<hr />
<div class='row'>
  <div class='col-lg-6'>
    <form ng-submit='submit()'>
      <div class='form-group'>
        <label for='howMany'>How many people?</label>
        <input type='number'
              class='form-control'
              id='howManyInput'
              name='howMany'
              placeholder='How Many'
              ng-model='how_many'
              required
              autofocus>
      </div>
      <div class='form-group'>
        <label for='initials'>What are your initials?</label>
        <input type='text'
               class='form-control'
               name='initials'
               placeholder='Initials'
               ng-model='initials'
               required>
      </div>
      <div class='form-group'>
        <label for='when'>When was the count taken?</label>
        <datetime-picker-rounded picker-model='when' />
      </div>
      <div class='form-group'>
        <button type='submit'
               value='Submit'
               class='btn btn-primary col-md-2 col-sm-2 col-xs-12'
          >Submit</button>
      </div>
    </form>
  </div>
</div>
<h3>Recent Headcounts</h3>
<hr />
<div ng-if="headcounts">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Date / Time</th>
        <th>Initials</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='headcount in headcounts.headcounts'>
        <td>{{headcount.ts.format('M/D/YYYY h:mm A')}}</td>
        <td>{{headcount.initials}}</td>
        <td>{{headcount.how_many}}</td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group">
    <button class="btn btn-default"
            ng-class="{disabled: headcounts.pages[0] == 1}"
            ng-click="setHeadcountPage(headcounts.pages[0]-2)"
    ><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button ng-repeat="i in headcounts.pages"
            class="btn btn-default"
            ng-class="{active: headcounts.page == i-1}"
            ng-click="setHeadcountPage(i-1)"
      >{{ i }}</button>
    <button class="btn btn-default"
            ng-class="{disabled: headcounts.pages[headcounts.pages.length-1] >= headcounts.total_pages}"
            ng-click="setHeadcountPage(headcounts.pages[headcounts.pages.length-1])"
    ><span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>