/*
NOTE: colors
#61d7a4
#36d792
#00af64
#218359
#007241
*/

body {
  background-image: url(/images/squared_metal.png);
}

.container {
  background: white;
  margin-top: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.form-control:focus {
  border-color: #61d7a4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset,
              0px 0px 6px rgba(97, 215, 164, 0.4);
}

.btn-primary {
  background: #218359;
}

.btn-primary:hover {
  background: #13784D;
}

.btn-primary:focus {
  background: #13784D;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td span.active
{
  background: #00af64;
}

.bootstrap-datetimepicker-widget td.active:hover {
  background: #007241;
}

a {
  color: #218359;
}

a:hover, a:focus {
  color: #007241;
}

[ng-click] {
  cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

#nprogress .bar {
  background: #36D792;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #218359;
  stroke-width: 1.5px;
}

.area {
  fill: #CBF2E2;
  stroke-width: 0px;
}